@import url("https://fonts.google.com/");

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: rgb(234, 234, 234);
}
/* active  */
.active {
  text-decoration: underline;
}
/*navbar */
.navbar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: white;
}
a {
  text-decoration: none;
}
/* container */
.container {
  display: flex;
  gap: 10px;
  padding: 3px;
  height: 100vh;
}

/* sidebar */
.sidebar {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
/* panes */
.panes {
  /* background-color: rgb(255, 79, 205); */
  display: flex;
  gap: 9px;
  flex-direction: column;
}
/* component heads */
.componenthead {
  /* background-color: white; */
  /* padding: 10px; */
  display: flex;
  gap: 7px;
}

.componentheaddetails {
  display: flex;
  gap: 9px;
  border-radius: 3px;
  background-color: white;
  flex-direction: column;
  padding: 10px;
}
.semester {
  background-color: rgb(235, 242, 255);
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  padding: 7px;
}

/* panes-divisions heading font and styling */
span {
  font-size: 20px;
  font-weight: 600;
}

/* right of sidebar */
.rightofsidebar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* quick access */
.shortcut {
  padding: 10px;
  height: 100vh;
}
.shortcutitems {
  background-color: white;
  height: 100vh;
  padding: 10px;
  margin-top: 3px;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* end of Index page */

/* Start of Enrollments page */
.enrolldiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
/* Initially hide the dropdown content */
.dropdown-content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 3px;
}

/* Display the dropdown content when the button is clicked */
.show-dropdown {
  display: block;
}

/* style the background of buttons */
.buttonlinks {
  background-color: white;
  padding: 10px;
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: col;
}

/* style button */
button {
  border: none;
  background-color: rgb(192, 214, 255);
  padding: 6px;
  border-radius: 3px;
}
button:hover {
  background-color: rgb(98, 153, 255);
  cursor: pointer;
  color: white;
}
